/Simple Chatty Bot/task/build/reports/tests/test/css/base-style.css
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.6.1/javaCompile/classAnalysis.bin
/Simple Chatty Bot/task/build/classes/java/test/Clue.class
/course-info.yaml
/course-remote-info.yaml
/Simple Chatty Bot/task/build/reports/tests/test/packages/default-package.html
/.gradle/6.6.1/executionHistory/executionHistory.bin
/.gradle/6.7/executionHistory/executionHistory.bin
/.gradle/6.6.1/executionHistory/executionHistory.lock
/.gradle/6.7/executionHistory/executionHistory.lock
/.gradle/6.6.1/fileContent/fileContent.lock
/.gradle/6.6.1/fileHashes/fileHashes.bin
/.gradle/6.7/fileHashes/fileHashes.bin
/.gradle/6.6.1/fileHashes/fileHashes.lock
/.gradle/6.7/fileHashes/fileHashes.lock
/.gradle/6.6.1/gc.properties
/.gradle/6.7/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/Simple Chatty Bot/task/build/reports/tests/test/index.html
/Simple Chatty Bot/task/build/tmp/test/jar_extract_2048261561478039893_tmp
/Simple Chatty Bot/task/build/tmp/test/jar_extract_5357891250723957942_tmp
/Simple Chatty Bot/task/build/tmp/test/jar_extract_8638973625017440010_tmp
/Simple Chatty Bot/task/build/tmp/test/jar_extract_10893199306609451546_tmp
/Simple Chatty Bot/task/build/tmp/test/jar_extract_14710344965902099110_tmp
/Simple Chatty Bot/task/build/tmp/test/jar_extract_17228349103341333089_tmp
/Simple Chatty Bot/task/build/tmp/test/jar_extract_18422657720122102227_tmp
/.gradle/6.6.1/javaCompile/jarAnalysis.bin
/.gradle/6.6.1/javaCompile/javaCompile.lock
/.gradle/6.6.1/fileChanges/last-build.bin
/.gradle/6.7/fileChanges/last-build.bin
/Simple Chatty Bot/lesson-info.yaml
/.gradle/checksums/md5-checksums.bin
/Simple Chatty Bot/task/build/test-results/test/binary/output.bin
/Simple Chatty Bot/task/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/Simple Chatty Bot/task/build/reports/tests/test/js/report.js
/.gradle/6.6.1/fileHashes/resourceHashesCache.bin
/Simple Chatty Bot/task/build/test-results/test/binary/results.bin
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/Simple Chatty Bot/task/build/classes/java/main/bot/SimpleBot.class
/Simple Chatty Bot/task/build/tmp/compileJava/source-classes-mapping.txt
/Simple Chatty Bot/task/build/tmp/compileTestJava/source-classes-mapping.txt
/Simple Chatty Bot/task/build/reports/tests/test/css/style.css
/Simple Chatty Bot/Chatty Bot welcomes you/task.html
/Simple Chatty Bot/Guess the age/task.html
/Simple Chatty Bot/Learning numbers/task.html
/Simple Chatty Bot/Multiple choice/task.html
/Simple Chatty Bot/Print your name/task.html
/Simple Chatty Bot/Chatty Bot welcomes you/task-info.yaml
/Simple Chatty Bot/Guess the age/task-info.yaml
/Simple Chatty Bot/Learning numbers/task-info.yaml
/Simple Chatty Bot/Multiple choice/task-info.yaml
/Simple Chatty Bot/Print your name/task-info.yaml
/Simple Chatty Bot/Chatty Bot welcomes you/task-remote-info.yaml
/Simple Chatty Bot/Guess the age/task-remote-info.yaml
/Simple Chatty Bot/Learning numbers/task-remote-info.yaml
/Simple Chatty Bot/Multiple choice/task-remote-info.yaml
/Simple Chatty Bot/Print your name/task-remote-info.yaml
/.gradle/6.6.1/javaCompile/taskHistory.bin
/Simple Chatty Bot/task/build/test-results/test/TEST-Tests.xml
/Simple Chatty Bot/task/build/classes/java/test/Tests.class
/Simple Chatty Bot/task/build/reports/tests/test/classes/Tests.html
/Simple Chatty Bot/task/test/Tests.java
